<!DOCTYPE html>
<html>
  <head>
    <title>Regex</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <center><i><h1>Regular Expression Matcher</h1></i>
    <form action="/test" method="POST">
      <label for="test_string">String:</label>
      <input type="text" name="test_string" id="test_string" style="margin: 10px; padding: 20px;">
      <br>
      <label for="regex">Regex:</label>
      <input type="text" name="regex" id="regex" style="margin: 10px;">
      <br>
      <input type="submit" value="Match" style="color: darkgoldenrod; background-color: crimson;">
    </form>
</center>
  </body>
</html>