{% extends 'layout.html' %}

{% block title %} Short_Url {% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <div class="input-group mb-5">
                <form action="/" method="POST">
                    <div class="input-group">
                        <span class="input-group-text">
                            <b>Link</b>

                        </span>
                        <div class="form-floating">
                            <input type="text" class="form-control" name="my_url" placeholder="Enter Here">

                        </div>
                        <button type="submit" class="btn btn-primary">Short the Url</button>
                    
                    </div>
                </form>
            </div>

        </div>

    </div>
    
    <div class="container">
        {% if urls|length == 0 %}
        <div class="alert alert-info">
            Nothing to see, Pls Add the Urls
        </div>
    </div>
    
    {% else %}
    <div class="container">
      <h4><i>Note:- You can previous Short Url to visit again.</i></h4>
      <h2><i>Previous Urls</i></h2><hr>
      <table class="table" style="border-color: black;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Short Url</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td><p id="noon">{{url.short_url}}</p></td>
                <td>
                    <a href="/delete/{{url.id}}" class="btn btn-outline-danger btn-sm ms-1" role="button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
      </table>
      {% endif %}
    </div>
    </div>
    
    {% endblock content %}